body{
    color: #32c0c1;
    background-color: #100f0f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navegacion-horizontal{
    border-top: 1px solid  #32c0c1;
    border-bottom: 1px solid #32c0c1;
    list-style-type: none;
    display: flex;
    justify-content: center;
}


.navegacion-horizontal li {
margin: 0;
padding: 0;
}

.navegacion-horizontal li a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #32c0c1;
}

.navegacion-horizontal a:hover{
    background-color: aqua;
    color: #100f0f;
}

.fila-uno{

    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.producto{
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.producto-imagen{
    width: 100%;
    height: 100%;
}

.producto img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}


.fila-dos{

    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}